.container{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2rem;
  padding: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.To-do-List{
  align-items: center;
  background-image: linear-gradient(to right, #243748, #4b749f);
  border: none;
  border-radius:  80px 20px 50px 20px;
  width: 80vh;
min-height: 70vh;
padding: 10px;
box-shadow: 30px 30px 20px #243748;
}
.To-do-List h1{
  text-align: center;
  color: snow ;
}
.Input-Area{
  align-items: center;
  display: flex;
justify-content: center;
margin-top: 30px;
}
.To-Do-Area input{
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
      text-align: center;
      border-radius: 5px;
      outline: none;
      font-size: 18px;
      border: none;
      color: #243748;
  }
button{
  border: none;
  padding: 0.5rem;
  text-align: center;
  margin-left: 20px;
  border-radius: 5px;
 background-color: #243748;
 color: snow;
}
button:hover{
  color: #4b749f;
  background-color: snow;
  cursor: pointer;

}
ol li{
  margin-top: 10px;
  padding: 12px 8px 12px 50px;   
  color: rgb(224, 221, 221);
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.381);
  border-radius: 40px;
 display: flex;
 justify-content: space-around;
 min-width: none;
 text-align: center;
}